.grid-container{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    /* repeat(개수, 크기) 크기가 같은 박스를 여러개 만들때 */
    /* grid-template-columns: repeat(3,100px); */
    /* grid-template-rows: repeat(3, 100px);  */

    /* grid-template-columns: minmax(10px,100px) 100px; */
    /* grid-template-rows: minmax(10px, 50px) 50px; */

    /* row-gap, column-gap */
    row-gap: 10px;
    column-gap: 20px;
    
    /* 그리드 정렬하기 align-items, align-self */
    /* stretch: 그리드 아이템이 그리드 셀을 꽉 채우도록 늘림
    start: 아이템을 그리드 셀 맨 위에 배치
    center: 아이템을 세로 중간에 배치
    end: 아이템을 그리드 셀 맨 아래 배치
    */
    /* align-items: stretch; */
    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */

    /* 아이템 가로 정렬 justify-items, justify-self
        stretch, start, center, end
    */

    /* justify-items: stretch; */
    /* justify-items: start; */
    /* justify-items: center; */
    /* justify-items: end; */

    /* 가로세로 정렬을 동시에 place-items, place-self */
    /* place-items: align-items, justify-items */
    /* place-items: center end; */


}

.grid-item {
    color:white;
    background-color: red;
}

.grid-item:nth-child(2n) {
    background-color: rgba(255,0,0,0.3);
}

.grid-item:nth-child(1) {
    align-self: center;
}

.grid-item:nth-child(2) {
    align-self: start;
}

.grid-item:nth-child(3) {
    align-self: end;
}

.grid-item:nth-child(4) {
    justify-self: start;
}

.grid-item:nth-child(5) {
    justify-self: center;
}

.grid-item:nth-child(6) {
    justify-self: end;
}

.grid-item:nth-child(7) {
    place-self: start end;
}

.grid-item:nth-child(8) {
    place-self: end start;
}

.grid-item:nth-child(9) {
    place-self: center center;
}

/* ================================================ */

.grid-container2{
    display: grid;
    border: 1px solid black;

    /* grid-templete-areas로 공간에 이름을 붙여 나누기 */
    grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer footer"
    ;

}

.grid-item2 {
    color:white;
    background-color: red;
}

.header {
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}

.grid-container3{
    display: grid;
    border: 1px solid black;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    

}

.grid-item3 {
    color:white;
    background-color: red;
}

.grid-item3:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid-item3:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item3:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid-item3:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}